<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.emf.validation.constraintProviders">
  	
  	<!--
  	Category must start with: "capella.category"
  	See org.polarsys.capella.core.validation.filter.CapellaConstraintFilter
  	Created by org.polarsys.capella.core.validation.CapellaValidationActivator.start(BundleContext)
  	-->
  	<category
         id="%inject:validation.category%"
         name="%constraint.category.name" />

    <constraintProvider
            cache="true"
            class="%inject:project.fullname%.validation.%inject:project.prefix%ConstraintsGroup"
            mode="Batch">
        <package namespaceUri="%inject:project.ecoreuri%" />
    </constraintProvider>

  </extension>

</plugin>
